-#= render partial: "subject_profile/photo", locals: { :subject_profile => subject_profile}

#upload_subject_photo "Upload subject photo"
- ratio_logo = 1.0
:javascript 
  cloudinary.applyUploadWidget(document.getElementById('upload_subject_photo'), 
  { cloud_name: 'dev-joinple-com', upload_preset: 'subject-photo', field_name: 'subject_profile[photo]', cropping: 'server', multiple: 'false', cropping_aspect_ratio: "#{ratio_logo}", button_caption: "" }, 
    function(error, result) {console.log(error, result)});
