
- sizes = Hash.new
- sizes = { :basic => 18, :comment => 30, :header => 32, :btn => 36, :thumb => 84, :icon => 128, :profile => 250 }

- size = :btn unless size.is_a? Symbol

- dimension = sizes[size]

- aShape = defined?(shape) ? shape : "" 

= cl_image_tag subject_profile.photo, :width => dimension, :crop => :scale, :class => "#{aShape} responsive" 

