
- sizes = Hash.new
- sizes = { :basic => 18, :subject_list => 24, :comment => 30, :header => 32, :btn => 36, :thumb => 84, :icon => 128, :standard => 200, :profile => 250 }

- size = :btn unless size.is_a? Symbol

- dimension = sizes[size]

- aShape = defined?(shape) ? shape : "" 

- quality = dimension < 200 ? 20 : 50;

= cl_image_tag subject_profile.photo, :width => dimension, :crop => :scale, :quality => quality, :class => "#{aShape} responsive" 

