- unless logged_in?
  %div.class.center.jumbotron
    %h1 Welcome to the Gsn app
    %h2 
      This is the home page for the aGsn: a 
      %i Generic Social Network
      \.
    = link_to signup_path, :remote => :true do
      %button.btn.btn-default.btn-lg
        Sign up now!
- else
  = render "sessions/create" 