%h1#privacy-policy PRIVACY POLICY
%p
  La privacy dei nostri visitatori è estremamente importante per noi.
  In questo documento definiamo le linee guida sulla privacy che l’utente deve accettare se decide di visitare e navigare il sito joinple.com (di seguito chiamato Sito).
%p Tali politiche di privacy potranno essere aggiornate, per adeguarle al diritto sopravveniente, per adeguarsi alle innovazioni tecnologiche o per altri motivi, per cui ti chiediamo di controllarle regolarmente.
%h2#dati-personali Dati personali
%p Ti informiamo che i dati personali (nome, cognome, indirizzo e-mail, recapito postale, ecc) che fornirai volontariamente al gestore del Sito, attraverso la compilazione dei moduli (di registrazione al sito, di iscrizione alla newsletter, di partecipazione a concorsi, ecc…) oppure attraverso l’invio tramite posta elettronica, saranno trattati nel rispetto delle disposizioni di cui al D. Lgs. 196/2003 – Codice in materia di protezione dei dati personali.
%p I dati in questione saranno utilizzati esclusivamente per le finalità indicate in relazione alla fruizione dei servizi.
%h2#finalita-del-trattamento Finalità del trattamento
%p I dati personali di cui sopra saranno trattati esclusivamente in relazione a:
%ul
  %li Iscrizione a Joinple
  %li Richieste di informazioni sui servizi e sulla piattaforma Joinple;
  %li Richieste di partecipazione a concorsi;
  %li Iscrizione ai servizi.
%p
  Salvo quanto innanzi specificato per i dati di navigazione, l’utente ha facoltà di fornire o meno i propri dati personali nei moduli disponibili sul Sito o mediante posta elettronica.
  Il mancato conferimento dei dati comporta l’impossibilità di erogare i servizi richiesti.
%h2#diritti-degli-interessati Diritti degli interessati
%p
  I soggetti cui si riferiscono i dati personali hanno il diritto in qualunque momento di ottenere la conferma dell’esistenza o meno dei medesimi dati e di conoscerne il contenuto e l’origine, verificarne l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la rettifica (art. 7 del D.Lgs. n. 196/2003). Ai sensi del medesimo articolo si ha il diritto di chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi in ogni caso, per motivi legittimi, al loro trattamento.
  Le richieste vanno rivolte via e-mail, all’indirizzo:
  %a{:href => "mailto:privacy@joinple.it"} privacy@joinple.it
%h2#dati-di-navigazione Dati di Navigazione
%p
  I sistemi informatici e le procedure software preposte al funzionamento del Sito acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet. Si tratta d’informazioni che non sono raccolte per essere associate ad interessati identificati, ma che per loro stessa natura potrebbero, attraverso elaborazioni ed associazioni con dati detenuti da terzi, permettere di identificare gli utenti.
  In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.
  Questi dati sono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del Sito, per il miglioramento del servizio e per controllarne il corretto funzionamento e vengono cancellati immediatamente dopo l’elaborazione.
%p I dati potrebbero essere utilizzati per l’accertamento di responsabilità in caso di ipotetici reati informatici ai danni del Sito o in caso di richiesta da parte delle Autorità competenti.
%h2#cookie-policy Cookie Policy
%p
  I cookie sono importanti per il corretto funzionamento di un sito. Sono piccoli file di testo che i siti visitati inviano al computer, dove è in esecuzione il browser utilizzato dall’utente, dove vengono memorizzati, per poi essere ritrasmessi agli stessi siti alle visite successive.
  Noi utilizziamo solo cookie tecnici allo scopo di migliorare la tua esperienza, ad esempio per ricordare i dati d'accesso, garantire un accesso sicuro, raccogliere dati statistici per ottimizzare la funzionalità del Sito.
  Quando entri nel Sito la prima volta, puoi fare clic sul pulsante
  %em Accetto
  %em i
  %em cookie
  per accettare i cookie; oppure puoi fare clic su
  %em Maggiori
  %em informazioni
  per visualizzare una descrizione dettagliata dei tipi di cookie e decidere quali cookie accettare durante l'uso del Sito.
%p Se decidi di disabilitare i cookie impiegati dal Sito, l’esperienza di navigazione sullo stesso potrebbe esserne influenzata.
%p Utilizzando questo Sito, l’utente accetta che i seguenti cookie siano installati sul suo dispositivo:
%ul
  %li
    %p
      %strong cookie di sessione
      il cui utilizzo non è strumentale alla raccolta di dati personali identificativi degli Utenti, essendo limitato alla sola trasmissione di dati identificativi di sessione nella forma di numeri generati automaticamente dal server;
  %li
    %p
      %strong cookie analytics
      utilizzati per raccogliere informazioni, in forma aggregata, sul numero degli Utenti e su come gli stessi visitano il Sito. Il Sito si avvale del servizio Google Analytics, la cui cookie policy può essere visionata a questo link:
      = succeed ";" do
        %a{:href => "https://www.google.com/intl/it/policies/privacy"} https://www.google.com/intl/it/policies/privacy
  %li
    %p
      %strong cookie di terze parti
    %ul
      %li
        %p per la condivisione su alcuni tra i principali social network, le cookie policy dei quali può essere visionata ai seguenti link:
        %table
          %thead
            %tr
              %th{:align => "left"} Social Network
              %th
              %th{:align => "left"} Privacy Policy
          %tbody
            %tr
              %td{:align => "left"} Facebook
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://www.facebook.com/privacy/explanation"} https://www.facebook.com/privacy/explanation
            %tr
              %td{:align => "left"} Twitter
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://twitter.com/privacy?lang=it"} https://twitter.com/privacy?lang=it
            %tr
              %td{:align => "left"} Linkedin
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://www.linkedin.com/legal/cookie-policy?trk=uno-reg-guest-home-cookie-policy"} https://www.linkedin.com/legal/cookie-policy?trk=uno-reg-guest-home-cookie-policy
            %tr
              %td{:align => "left"} Instagram
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://help.instagram.com/155833707900388"} https://help.instagram.com/155833707900388
            %tr
              %td{:align => "left"} Pinterest
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://about.pinterest.com/it/terms-service"} https://about.pinterest.com/it/terms-service
            %tr
              %td{:align => "left"} Google+
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://www.google.it/intl/it/policies/privacy/"} https://www.google.it/intl/it/policies/privacy/
            %tr
              %td{:align => "left"} Youtube
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://www.google.it/intl/it/policies/privacy/"} https://www.google.it/intl/it/policies/privacy/
            %tr
              %td{:align => "left"} Woobox
              %td  ⇒ 
              %td{:align => "left"}
                %a{:href => "https://woobox.com/privacy"} https://woobox.com/privacy
      %li
        %p
          per la visualizzazione di media per la gestione e memorizzazione di foto, immagini e video (Cloudinary) le cookie policy del quale può essere visionata al seguente indirizzo:
          %a{:href => "http://cloudinary.com/privacy"} http://cloudinary.com/privacy
%p
  Il presente Sito web può utilizzare
  %em Adobe Flash Player
  per offrire alcuni contenuti multimediali. Sulla maggior parte dei computer il programma risulta installato per impostazione di fabbrica. Nel caso in cui si utilizzino alcuni di questi contenuti, Google Analytics memorizza dei dati aggiuntivi sul computer, conosciuti anche come Flash cookie (o Local Share Object) attraverso i quali il titolare è in grado di conoscere il numero totale di volte in cui viene aperto un certo file audio/video, il numero di persone che lo utilizza fino alla fine e quante persone, invece, lo chiudono prima del termine.
%p
  Il sito web di Adobe (Privacy Policy) fornisce informazioni su come rimuovere o disabilitare i cookie di Flash:
  %a{:href => "https://www.adobe.com/it/support/flashplayer/ts/documents/52697ee8.htm"} https://www.adobe.com/it/support/flashplayer/ts/documents/52697ee8.htm
%p Si rammenta che limitare e/o eliminare l’uso di questo tipo di flash cookies può pregiudicare le funzioni disponibili per le applicazioni basate sulla tecnologia Flash.
%p
  Ogni volta che decidi di interagire con i plug-in ovvero accedi al Sito dopo esserti
  %strong loggato
  attraverso il tuo account, alcune informazioni personali potrebbero essere acquisite dai gestori delle piattaforme di terze parti (per esempio la tua visita al Sito).
%p Questo sito non ha accesso ai dati che sono raccolti e trattati in totale autonomia dalle terze parti.
%p
  Puoi disattivare le funzionalità dei cookie tramite l’apposita pagina messa a disposizione dalla EDAA (European Interactive Dgital Advertising Alliance)
  %a{:href => "http://www.youronlinechoices.com/it/"} http://www.youronlinechoices.com/it/
  oppure agendo sulle impostazioni relative alla Privacy del tuo browser di navigazione.
%p In questo caso, segui le indicazioni riportati ai seguenti link:
%ul
  %li
    Disabilitare i cookie su
    %a{:href => "https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie"} Firefox
  %li
    Disabilitare i cookie su
    %a{:href => "https://support.google.com/accounts/answer/32050?hl=it"} Chrome
  %li
    Disabilitare i cookie su
    %a{:href => "http://windows.microsoft.com/it-it/internet-explorer/delete-manage-cookies#ie=ie-11"} Internet Explorer
  %li
    Disabilitare i cookie su
    %a{:href => "http://help.apple.com/safari/mac/8.0/#/sfri47acf5d6"} Safari
  %li
    Disabilitare i cookie su
    %a{:href => "http://help.opera.com/Mac/12.10/it/cookies.html"} Opera
%p Fatto salvo quanto precede, ricorda che la disattivazione dei cookie potrebbe condizionare il corretto funzionamento del Sito.