%h1#photo-contest-online PHOTO CONTEST ONLINE
%h1#joinpleuser1 # JOINPLEUSER1
%h2#regulation REGULATION
%h3#sponsor SPONSOR
%p The online photo contest #JOINPLEUSER1 (The Contest) is sponsored by the JOINPLE&reg;.
%h3#purpose PURPOSE
%p The Contest aim at appoint JOINPLEUSER 1 (USER JOINPLE N°1), which will be also  the JoinPle&reg; witness throughout 2016 and constitute the JOINPLEUSER Champion Team.
%h3#theme THEME
%p The contest encourage all the attendees to take an odd and amusing picture that represents the feelings of joy, happiness, satisfaction and fun.
%p The subjects of the photos can be people, animals, objects.
%p
  Each photo must be marked with an inscription of the contest hashtag (# JOINPLEUSER1) and a JoinPle&reg; logo, a 90 degrees rotated
  %em smile
%h3#participation-rules PARTICIPATION RULES
%p The Contest will begin on 1 December 2015 and end on 21 February 2016.
%p
  Participation is free of charge.
  The Contest is open only to individuals who are 18 years of age or older at the time of entry.
%p The JoinPle® team people and all those who, in various ways, are involved in the organization and realization of the Contest are not eligible.
%p Published photos will be voted on by all those who desire it, by accessing the competition JOINPLEUSER1, published on the Facebook page of JoinPle®.
%p The photo that will receive the largest number of votes, will be the winner.
%p The next eight photos classified will allow authors/authoresses to be part of the JOINPLEUSER Champion Team, as well as the author/authoress of an image selected, at the discretion by JOINPLE® team, as the most amusing photo of the contest.
%p The authors/authoresses will be contacted by e-mail before the official announcement and will be asked  to provide their  photos and demographic information to JoinPle&reg;: if  the JOINPLE&reg; team will be not able to reach one of them, another author/authoress will be selected on the basis of the order of placement.
%p The winners of the contest will be announced on 26 February 2016 on the JoinPle&reg; page on Facebook and on the other social profiles of JoinPle&reg; (Twitter, Google+, YouTube and Instagram).
%h3#awards AWARDS
%p The winner will receive the following prizes:
%ul
  %li The appointment of JOINPLEUSER N°1
  %li He/She will be the JoinPle&reg; Witness 2016 on all information channels worldwide
  %li His/Her profile will be always in evidence compared to all the other users ones
  %li He/She will be featured in an interview which will be published around the world
  %li He/She will be invited to the JoinPle&reg; Kick-Off
  %li
    He/She will have free access for one year to all
    %em user
    %em services
    from JoinPle&reg;
  %li He/She will receive the winner T-shirt of # JOINPLEUSER1.
%p Members of JOINPLEUSER Champion Team will receive the following prizes:
%ul
  %li The publication of their photos on social channels of JOINPLE&reg;
  %li They will be invited to JOINPLE&reg; Kick-Off
  %li They will receive a T-shirt contest # JOINPLEUSER1.
%p All participants will receive a digital complimentary.
%h3#instructions-for-participation INSTRUCTIONS FOR PARTICIPATION
%p The Contest will take place exclusively online.
%p Participants can send their photos in digital format through two different web channels:
%ul
  %li
    the JoinPle&reg; site
    %a{:href => "Http://www.joinple.com"} Http://www.joinple.com
  %li
    JoinPle&reg; page on Facebook
    %a{:href => "Https://www.facebook.com/JoinPle-1378825342446436/?fref=t"}> Https://www.facebook.com/JoinPle-1378825342446436/?fref=t
    \.
%p To publish a photo participants must fill the form of participation with:
%ul
  %li a valis email address
  %li the photo they want to publish
  %li a comment (optional)
%p Before submitting the photo they have to read and fully accept the contest rules.
%p Each participant may submit multiple photos, but only if he/she puts different email addresses in the forms of participation.
%p
  Each photo must have an inscription of the contest hashtag (# JOINPLEUSER1) and a JoinPle logo design, a 90 degrees rotated
  %em smile
%p B/W and color shots with vertical or horizontal framing are both allowed.
%p The photos must be in JPEG (.jpg) or PNG(.png) format.
%p The photos that do not meet the specifications will not be taken into account.
%h3#voting-informations VOTING INFORMATIONS
%p All photos participating in the Contest will be published on the JoinPle&reg; Facebook page in  #JOINPLEUSER1 contest, and will remain available in order to be voted.
%p Participants will be free to publish their photos for the contest even on all their social profiles, in order to invite their friends to vote for them.
%p
  Every
  %strong Friday at 14.00 (CET)
  the 6 funniest photos of the week, chosen at the discretion of the JOINPLE&reg; team, will be posted on the JOINPLE&reg; Facebook page and on the others JOINPLE&reg; social profiles (Twitter, Google+,YouTube and  Instagram).
%h3#authorauthoress-responsibility AUTHOR/AUTHORESS RESPONSIBILITY
%p
  Each participant is responsible for the material he presented and
  guarantees to have every right to use the works submitted to the contest, or that do not infringe the rights of others and/or to have obtained the necessary authorizations.
%p
  The competitor must inform any interested (portrayed persons) in the cases and manner prescribed by the italian
  %a{:href => "http://www.privacy.it/privacycode-en.html"} Legislative Lg. 30 June 2003 n. 196
  and partecipant's country equivalent, and obtain consent to the distribution of the same. In any way the images sent will contain any information classified as sensitive.
%p Therefore he  will exclude any liability of the organizers of the competition for any claims made by any person appearing in photographs sent or holders of rights to whom  was not requested the necessary authorization.
%p Each participant declares to be the sole author of the photos sent and that they are original and not processed.
%h3#disqualification-faculty DISQUALIFICATION FACULTY
%p The organizers reserve the right to exclude from the contest and  to not publish the photos that do not comply in form and subject to what is stated in this announcement or in the rules commonly accepted in matters of public morality, ethics and decency, in order to protect participants and visitors.
%p Images deemed offensive, inappropriate and detrimental to human and social rights will be not allowed.
%p Will be not allowed also images that show comments deemed offensive, improper and damaging to the human and social rights.
%p The organizers reserve the right to exclude from the competition the participants who have entered a wrong email address.
%h3#copyright-and-use-of-the-contest-material COPYRIGHT AND USE OF THE CONTEST MATERIAL
%p By providing the image the author/authoress transfers to JoinPle&reg; all images' rights free of charge and therefore authorizes JOINPLE&reg; to use them in all communication media both online and offline for promotional, advertising and informative aim.
%p JOINPLE&reg; has the full right to use photos submitted jointly or separately, either in full or in part, and for any use permitted by law, for free and mentioning the author/authoress's name if known.
%h3#privacy PRIVACY
%p
  Please note that the personal information of competitors will be used for activities related to the promotion of the contest and for promotional purposes of JoinPle&reg;, in accordance with Italian Personal Data Protection Code
  %a{:href => "http://www.privacy.it/privacycode-en.html"} D.Lg. 30 June 2003. 196
%h3#acceptance-of-the-rules ACCEPTANCE OF THE RULES
%p
  %strong Participation to the contest implies a full and unconditional acceptance of these official rules.
%p If the organizers observe any breach of the rules by any participants, they will have the power to disqualify the partecipant  without any liability.