%h1#concorso-fotografico-online CONCORSO FOTOGRAFICO ONLINE
%h1#joinpleuser1 #JOINPLEUSER1
%h2#regolamento REGOLAMENTO
%h3#organizzatori ORGANIZZATORI
%p Il concorso fotografico #JOINPLEUSER1 è promosso dal team di JoinPle.
%h3#obiettivo OBIETTIVO
%p JoinPle ha attivato un concorso fotografico con l’obiettivo di nominare il JOINPLEUSER 1 (UTENTE JOINPLE N.1), che sarà anche il testimonial di JoinPle per tutto il 2016.
%h3#tema TEMA
%p
  Il concorso invita i partecipanti a realizzare una foto curiosa e divertente che rappresenti i sentimenti di gioia, contentezza, soddisfazione e divertimento.
  I soggetti delle foto potranno essere persone, animali, oggetti.
  Ogni foto dovrà recare in evidenza una scritta dell’hashtag del concorso (#JOINPLEUSER1) ed un disegno del logo di JoinPle (smile con il sorriso girato verso destra).
%h3#modalita-di-partecipazione MODALITA’ DI PARTECIPAZIONE
%p Il concorso si svolgerà dal 01/12/2015 al 21/02/2016.
%p La partecipazione al concorso è gratuita e aperta a tutte le persone che abbiano compiuto 18 anni di età.
%p Sono escluse dalla gara le persone del team di JoinPle ed i rispettivi familiari, nonché tutti i soggetti che a vario titolo collaborano all’organizzazione del concorso.
%p Le foto pubblicate potranno essere votate da tutti coloro che lo desiderano, accedendo al concorso JOINPLEUSER1, pubblicato sulla pagina Facebook di JoinPle.
%p Vincerà il concorso la foto che avrà ricevuto il maggior numero di voti.
%p La seconda e la terza foto arrivate vinceranno un premio di consolazione.
%p Un premio di consolazione sarà assegnato anche ad una foto scelta, a suo insindacabile giudizio, dal team di JoinPle come la foto più divertente del concorso.
%p Gli autori saranno contattati via mail prima dell’annuncio ufficiale e sarà chiesto loro di fornire a JoinPle informazioni anagrafiche: se non fosse possibile reperire uno di loro, il team di JoinPle selezionerà un altro autore secondo l’ordine della classifica stilata.
%p I nomi dei vincitori del concorso saranno annunciati il 26/02/2016 sulla pagina JoinPle su Facebook e sui diversi profili social di JoinPle (Twitter, Google+, Instagram e YouTube).
%h3#premi PREMI
%p Il vincitore del concorso  riceverà il seguente premio:
%ul
  %li La nomina di UTENTE JOINPLE N.1
  %li Sarà il Testimonial JoinPle 2016 su tutti i canali d’informazione e rappresenterà la società in tutto il mondo
  %li Il suo profilo sarà sempre in evidenza rispetto a tutti gli altri utenti
  %li Sarà protagonista di un'intervista che pubblicheremo in tutto il mondo
  %li Sarà invitato al JoinPle Kick-Off
  %li
    Avrà accesso gratis per 1 anno a tutti i
    %em servizi utente
    JoinPle
  %li Riceverà la T-shirt del vincitore di #JOINPLEUSER1
%p Il secondo ed il terzo arrivati e l’autore di una foto selezionata dal team di JoinPle riceveranno una T-shirt del concorso di #JOINPLEUSER1.
%p A tutti i partecipanti verrà inviato un omaggio digitale.
%h3#istruzioni-di-partecipazione ISTRUZIONI DI PARTECIPAZIONE
%p Il concorso si svolgerà esclusivamente online.
%p I partecipanti potranno inviare le loro foto in formato digitale tramite due diversi canali web:
%ul
  %li
    il sito di JoinPle
    %www.joinple.com
  %li
    la pagina JoinPle su Facebook
    = succeed "." do
      %a{:href => "https://www.facebook.com/JoinPle-1378825342446436/?fref=ts"} https://www.facebook.com/JoinPle-1378825342446436/?fref=ts
%p Per pubblicare una foto sarà necessario inserire nel form di pubblicazione:
%ul
  %li un indirizzo email valido del partecipante
  %li la foto che si desidera pubblicare
  %li un commento (opzionale)
%p Prima di inviare la foto è necessario leggere integralmente ed accettare il regolamento del concorso.
%p Ogni partecipante potrà inviare più fotografie, ma solo se inserisce indirizzi email differenti nel form di partecipazione.
%p
  Ogni foto dovrà recare in evidenza una scritta dell’hashtag del concorso (#JOINPLEUSER1) ed un disegno del logo di JoinPle (
  %em smile
  con il sorriso girato).
%p
  Sono ammesse  fotografie  b/n e  a colori con  inquadrature sia verticali sia
  orizzontali.
%p Il formato della foto deve essere JPEG (.jpg) o PNG(.png).
%p Le immagini non conformi alle specifiche non verranno prese in considerazione.
%h3#istruzioni-di-votazione ISTRUZIONI DI VOTAZIONE
%p Tutte le foto partecipanti al concorso saranno pubblicate sulla pagina JoinPle di Facebook, nel concorso #JOINPLEUSER1, e resteranno a disposizione per essere votate.
%p I partecipanti potranno pubblicare la foto del concorso anche su tutti i loro profili social, per invitare gli amici a votare per loro.
%p
  Ogni
  %strong venerdì alle ore 14,00
  saranno pubblicate sulla pagina JoinPle di Facebook  e sugli altri profili social JoinPle (Twitter, Google+, Istagram e YouTube) le 6 foto più divertenti della settimana, scelte ad insindacabile giudizio dal team di JoinPle.
%h3#responsabilita-dellautore RESPONSABILITA’ DELL’AUTORE
%p Ogni   partecipante  è   responsabile   del   materiale   da  lui  presentato e garantisce di godere di ogni diritto di utilizzare i lavori inviati per il concorso, ovvero che non ledono diritti di terzi e di averne ottenuto le necessarie liberatorie.
%p Il concorrente dovrà informare gli eventuali interessati (persone ritratte) nei casi e nei modi previsti dal D. Lg. 30 giugno 2003 n. 196, nonché procurarsi il consenso alla diffusione degli stessi. In nessun caso le immagini inviate potranno contenere dati qualificabili come sensibili.
%p Pertanto il partecipante si impegna ad escludere ogni responsabilità degli organizzatori del concorso per eventuali richieste di risarcimento avanzate da soggetti ritratti che appaiono nelle fotografie inviate o da detentori di diritti per cui non è stata richiesta la necessaria liberatoria
%p Ogni partecipante dichiara inoltre di essere unico autore delle immagini inviate e che esse sono originali e non elaborate.
%h3#facolta-di-esclusione FACOLTA’ DI ESCLUSIONE
%p Gli organizzatori si riservano di escludere dal concorso e non pubblicare le foto non conformi nella forma e nel soggetto a quanto indicato nel presente bando oppure alle regole comunemente riconosciute in materia di pubblica moralità, etica e decenza, a tutela dei partecipanti e dei visitatori.
%p
  Non saranno perciò ammesse le immagini ritenute offensive, improprie e lesive dei diritti umani e sociali.
  Saranno escluse anche le immagini che riporteranno commenti ritenuti offensivi, impropri e lesivi dei diritti umani e sociali.
%p Gli organizzatori si riservano inoltre di escludere dal concorso i partecipanti che avranno inserito una indirizzo email non valido.
%h3#diritti-dautore-e-utilizzo-materiale-in-concorso DIRITTI D’AUTORE E UTILIZZO MATERIALE IN CONCORSO
%p Con l’invio delle immagini l’autore cede a JoinPle a titolo gratuito, tutti i diritti sulle immagini e autorizza quindi JoinPle a utilizzarle su tutti mezzi di comunicazione sia online che offline per fini promozionali, pubblicitari e divulgativi.
%p JoinPle ha quindi la piena facoltà di utilizzare gratuitamente le fotografie inviate, congiuntamente o separatamente, in forma integrale o parziale, e per qualsiasi utilizzo consentito dalla legge, citando il nome dell’autore solo se noto.
%h3#privacy PRIVACY
%p Si informa che i dati personali forniti dai concorrenti saranno utilizzati per le attività relative alla promozione del concorso stesso e per finalità promozionali di JoinPle, secondo quanto previsto dal D.Lg. 30 giugno 2003 n. 196.
%h3#accettazione-del-regolamento ACCETTAZIONE DEL REGOLAMENTO
%p
  %strong La partecipazione al concorso implica, da parte del partecipante, l’accettazione integrale e incondizionata di questo regolamento.
%p Qualora gli organizzatori riscontrassero una qualsiasi violazione delle norme da parte delle fotografie o dei partecipanti, essi avranno la facoltà di decretare la squalifica senza alcuna responsabilità.