node_modules
dist
tmp
.tmp
.sass-cache
bower_components

# Ignore bundler config.
/.bundle

# Ignore the Neo4j database.
/db/neo4j


# Ignore all logfiles and tempfiles.

/log/*.log
/tmp
/config/*.yml
/simple_token_authentication
/dist

# Ignore all 'sve' file
/test-save 
/spec-save
/bower_components-save
