<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1 ng-model="user"><a href="#">Welcome back {{ user.user.name }}!</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li>
        <a href="sign_out">Sign out</a>
      </li>
    </ul>
  </section>
</nav>
<div class="container">
  <div class="row">
    <ul class="large-12 columns">
      <li class="row" data-ng-repeat="article in articles | orderBy:publishedDate:false">
      <article-listing ng-model="article" on-share="share(recipient, article)"></article-listing>
      </li>
    </ul>
  </div>
</div>
