.panel-body
  .row
    = form_for(post_comment, :remote => :true) do |f|
      = hidden_field_tag :post_uuid, post.uuid
      .col-xs-6
        .owner-image= render partial: 'subjects/owner', locals: { object: post_comment, type: "owner", use_current_subject: :true  }
      .col-xs-51
        .post-comment-text= f.text_area :content, :placeholder => "insert comment ..."
      .col-xs-3.nothing
        %button.btn-icon-only.nothing{ :type => "submit", :name => "commit", :hide_label => :true, :title => "send the post" } 
          %i.l.hoverable.im-send-post
 