%h1 Listing post_comments

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @post_comments.each do |post_comment|
      %tr
        %td= link_to 'Show', post_comment
        %td= link_to 'Edit', edit_post_comment_path(post_comment)
        %td= link_to 'Destroy', post_comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Post comment', new_post_comment_path
