.panel.panel-default
  .panel-heading
    .panel-title
      New language
  .panel-body
    = bootstrap_form_for(language, :remote => :true ) do |f|
      = f.text_field :code, :prepend => :code, :placeholder => "Enter the language code in the form 'xx' or 'xx-yy'", :hide_label => :true
      = f.text_field :description, :prepend => :description, :placeholder => "Enter the language description", :hide_label => :true
      %button.btn.btn-default.btn-sm{ :type => "submit", :name => "commit", :hide_label => :true }
        %span.glyphicon.icon-diff-added
        Add