#common-header-left
  .buttons.nothing
    .post-icon.nothing
      %a.toggle{ :type => "toggle", "data-target" => "#language-form", "data-toggle" => "collapse", :title => "Create new language"}
        %i.hoverable.im-plus.im-2x
  .spacer


