#common-header-left
  .post-buttons.nothing
    .post-icon.nothing
      %a.toggle{ :type => "toggle", "data-target" => "#language-form", "data-toggle" => "collapse", :title => "Create new language"}
        %i.im-social-networks.im-2x
.spacer


