= link_to hide_path, :remote => :true, :title => "Close" do
  .full-screen-layer
  %img.middle-layer-transparent.responsive{:src => UrlSafeBase64.decode64(image), :alt => ""}
  %img.middle-layer.shadowing.responsive{:src => UrlSafeBase64.decode64(image), :alt => ""}
