= link_to hide_path, :remote => :true, :title => "Close" do
  .full-screen-layer
  = cl_image_tag UrlSafeBase64.decode64(image), :class => "middle-layer-transparent responsive"
  = cl_image_tag UrlSafeBase64.decode64(image), :class => "middle-layer shadowing responsive"
