#group-banner.shadowing
  - query = "match (groups:Group)-[r:belongs_to]->(sn:SocialNetwork { uuid : '#{current_social_network.uuid}'} ) where groups.type in ['open','closed'] optional match (subject:Subject { uuid : '#{current_subject.uuid}' })-[p]->(groups) return distinct groups,subject order by subject.uuid, groups.uuid;"
  - groups = Neo4j::Session.query(query)

  - groups.each do |response|
    - group = response[0]
    - if group.header.length > 0
      %span.group-mini-banner
        = link_to groups_show_path(group.uuid,"alldiscussions"), :remote => :true, :title => group.name, :class => ("hoverable") do
          = cl_image_tag group.header, :class => "responsive"

.spacer
