- if logged_in?
  %h4.thumbnail
    %span.fa-lg
    %i.fa.fa-icon{ :class => icon }
    = title
  #grid3{ "data-columns" => "" }
    - groups.each do |group|
      = render partial: "show_list", locals: { group: group }
