- show_date = defined?(creation_date) 

= link_to group_path(group.uuid), :remote => :true, :title => "Go to group" do
  .group-mini-header.relative{ :style => "background-color: transparent;" }
    .absolute.top.opaque-25.index-10{ :style => group.style }
      &nbsp;
    .absolute.top.padding-top.index-20
      %span.to-right
        = cl_image_tag group.logo
      %span Group
      %br
      %span.title= group.name
