- if logged_in?
  -# user = current_user
  -# social_network = current_social_network
  -# right_menu_icons = right_menu_icons_number
  %ul#hotgroups.list_group.nothing= render partial: 'right_menu', locals: { groups: @groups, subset: "hot", title: "Hot groups",  icon: "icon-flame" }
  .spacer
  %ul#freshgroups.list_group.nothing= render partial: 'right_menu', locals: { groups: @groups, subset: "fresh", title: "Fresh groups",  icon: "icon-clock" }
  .spacer
  %ul#mycontactsgroups.list_group.nothing= render partial: 'right_menu', locals: { groups: @groups, subset: "mycontacts", title: "My contact's groups", icon: "icon-heart" }
  .spacer
