%img.img-header
  .panel.panel-default
    .panel-body
      .btn-toolbar{ :role => "toolbar" }
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My contact's groups" }
            = link_to group_list_path('mycontacts'), :method => :post, :remote => :true do
              %span.fa-lg
                %i.fa.fa-icon.icon-heart
          %button.btn.btn-default{ :type => "button", :title => "Hot groups" }
            = link_to group_list_path('hot'), :method => :post, :remote => :true do
              %span.fa-lg
                %i.fa.fa-icon.icon-flame
          %button.btn.btn-default{ :type => "button", :title => "Fresh groups" }
            = link_to group_list_path('fresh'), :method => :post, :remote => :true do
              %span.fa-lg
                %i.fa.fa-icon.icon-clock
