- if group.errors.count == 0
  %div{ :id => group.uuid }
    .thumbnail
      .container-fluid.nopadding
        -#%img.img-owner1{ :src => "http://cdn001.crowdupcafe.com/public/72x72-3.jpg" }
        .post-header
          = group.name
        %br
        .post-content
          = group.description