- object = ["all", "discussions", "groups", "people"]
- search = "AA"
%img.img-header{ :src => "http://cdn001.crowdupcafe.com/public/863x200.jpg" }
= bootstrap_form_for(search, :remote => :true, layout: :inline ) do |f|
  .panel.panel-default
    .panel-body
      .btn-toolbar{ :role => "toolbar" }
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My groups" }
            %span.fa-lg
              %i.fa.fa-icon.icon-torsos-all-female
          %button.btn.btn-default{ :type => "button", :title => "Groups I administer" }
            %span.fa-lg
              %i.fa.fa-icon.icon-tools
          %button.btn.btn-default{ :type => "button", :title => "Pending invitations" }
            %span.fa-lg
              %i.fa.fa-icon.icon-pin
              -#%i.fa.fa-icon.icon-pin.fa-stacked
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My contact's groups" }
            %span.fa-lg
              %i.fa.fa-icon.icon-heart
          %button.btn.btn-default{ :type => "button", :title => "Hot groups" }
            %span.fa-lg
              %i.fa.fa-icon.icon-flame
          %button.btn.btn-default{ :type => "button", :title => "Fresh groups" }
            %span.fa-lg
              %i.fa.fa-icon.icon-clock
        .btn-group{ :role => "group" }
          %span.input-group-btn.search.fa-lg{ :type => "button" }
            = f.text_field :name, :prepend => "Search", :placeholder => "Enter the text to search", :hide_label => :true, :title => "Text to search"
            %button.btn.btn-default{ :type => "button" }
              %span.fa-lg
                %i.fa.fa-icon.glyphicon.glyphicon-search
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My groups" }
            %span.fa-lg
              %i.fa.fa-icon.icon-list-1
= render partial: 'shared/debug'
