- search = Group.new
- object = ["all", "discussions", "groups", "people"]
= bootstrap_form_for(search, :remote => :true, layout: :inline ) do |f|
  .panel.panel-default
    -#.panel-heading
      .panel-title
        - if defined?(title)
          = title
          .button.close{:type => "button", "data-dismiss" => "alert", "aria-label" => "Close" }
        - else
          New Group
    .panel-body
      .btn-toolbar{ :role => "toolbar" }
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My groups" }
            %span.glyphicon.icon-group
          %button.btn.btn-default{ :type => "button", :title => "Groups I administer" }
            %span.glyphicon.icon.group
          %button.btn.btn-default{ :type => "button", :title => "Pending invitations" }
            %span.glyphicon.icon.group
        .btn-group{ :role => "group" }
          %button.btn.btn-default{ :type => "button", :title => "My contact's groups" }
            %span.glyphicon.icon.group
          %button.btn.btn-default{ :type => "button", :title => "Most active groups" }
            %span.glyphicon.icon-group
          %button.btn.btn-default{ :type => "button", :title => "Recently created groups" }
            %span.glyphicon.icon.group
          %button.btn.btn-default{ :type => "button", :title => "All groups" }
            %span.glyphicon.icon.group
        .btn-group{ :role => "group" }
          %span.input-group-btn.search{ :type => "button" }
            = f.text_field :name, :prepend => "Search", :placeholder => "Enter the text to search", :hide_label => :true, :title => "Text to search"
            %button.btn.btn-default{ :type => "button" }
              %span.glyphicon.glyphicon-search