- if logged_in?
  = render 'shared/left_menu'

  .col-md-9#main
    -# @posts = @user.owns.query_as(:o).where("o:Post").order("o.created_at desc").pluck(:o)
    - @posts = @user.query_as(:o).match("u-[r:owns]->p:Post").order("p.created_at desc").pluck(:p)
    = render 'shared/posts', object: @posts
