%li.nav-header
  %span
    My chats
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_chat"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} My administrated chats
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} Create a new chat
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} Join a chat
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} chat 1
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} chat 2
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} chat 3
