%button.icon_only{ :type => "submit", :name => "commit", :hide_label => :true, :title => "Save the element" } 
  %i.im-check
  = "save"
%button.icon_only{ :type => "reset", :name => "reset", :hide_label => :true, :title => "Cancel" } 
  %i.im-eraser
  = "clear"  
