%button.icon_only.joinple_button_base{ :type => "submit", :name => "commit", :hide_label => :true, :title => t("button.hint.save") } 
  %i.im-check
  = t("button.save")
%button.icon_only.joinple_button_base{ :type => "reset", :name => "reset", :hide_label => :true, :title => t("button.hint.clear") } 
  %i.im-eraser
  = t("button.clear")  
