.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-network
      Communities
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.icon-dot.transparent
        Community 1
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Community 2
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Community 3
