.row.col-xs-40
  = render partial: "logo_social_network", locals: { user: user, social_network: social_network } 
  = render partial: "common_search", locals: { user: user, social_network: social_network  } 
  = render partial: "common_buttons", locals: { user: user, social_network: social_network  } 

