.section
  .ul.list-group.title
    %li.list-group-item
      My groups
      %span.caret
    %span{ :id => "myspan", "aria-labelled-by" => "dropdownSharedGroups", :display => "block"} 
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          My administrated groups
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          Join an existing group
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          group 1
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          group 2
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          group 3
      %li.list-group-item
        %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
          %span.glyphicons.glyphicons-tag
          group 4
