%li.nav-header
  %span
    My groups
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_test"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} My administrated groups
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} Join an existing group
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} group 1
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} group 2
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} group 3
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} group 4
