%li.nav-header
  %span
    My Images
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_image"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} My images
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} Load a new image
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} image 1
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} image 2
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} image 3
