.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-picture
      Images
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.icon-dot.transparent
        show all
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Image 1
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Image 2
