%li.nav-header
  %span
    My likes (uncertain)
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_like"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} like 1
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} like 2
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} like 3
