- if logged_in?
  - unless defined?(style)
    - csn = current_social_network
    - style = current_social_network_style
  #social-network.logo-social-md{ :style => style }
    = image_tag csn.logo_social.url(:md_logo), :name => "social_network#{csn.uuid}", :class => "social-network-logo"
