- if logged_in?
  - unless defined?(style)
    - style = current_social_network_style
  #top-right.social-network-logo{ :style => style }
    = image_tag csn.logo.url(:top), :name => "social_network#{csn.uuid}", :class => "social-network-logo"
