= link_to posts_path, :remote => :true do
  %li.left.list-group-item.no-padding{ :style => current_social_network_style }
    -#= image-path 
    Posts
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Post 1
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Post 2
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Post 3
