%li.list-group-item
  = link_to posts_path, :remote => :true do
    %span.glyphicons.icon-comment-discussion
    Discussion
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Discussion 1
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Discussion 2
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Discussion 3
