.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-star-two
      Workrooms
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-crop-streamline
        Detail workroom
