%li.list-group-item
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.icon-like-2
    Preferites
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 1
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 2
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 3
