%li.left.list-group-item.no-padding{ :style => social_network_color_style }
  = link_to dummy_path, :remote => :true do
    -#= image-path 
    Posts
%li.left.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Post 1
%li.left.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Post 2
%li.left.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Post 3
