= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding{ :style => current_social_network_style }
    -#= image-path 
    Pages
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Page 1
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Page 2
= link_to dummy_path, :remote => :true do
  %li.left.list-group-item.no-padding
    %i.im-dot
    Page 3
