= link_to posts_list_path( :filter => :all, :social => current_social_network_uuid?, :remote => :true) do
  %li.left.list-group-item.no-padding
    .row
      .col-xs-15.nopadding
        = image_tag current_social_network.logo_social.url(:thumb), :size => ("34x34")

      .col-xs-45.nothing.text-center
        %span.title= current_social_network_name?
        %span.row= "Home posts"
