%li.list-group-item{ :style => social_network_color_style }
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.icon-star-4
    Pages
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 1
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 2
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    Page 3
