.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-picture
      Images
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-diff-added
        New image
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.glyphicons-tag
        Show all
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.glyphicons-tag
        Show preferites
