%li.list-group-item
  = link_to groups_path, :remote => :true do
    %span.glyphicons.icon-group
    Groups
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    group 1
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    group 2
%li.list-group-item
  = link_to dummy_path, :remote => :true do
    group 3
