.section
  %ul.list-group.title
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-star-two
        Workrooms
      = link_to dummy_path, :remote => :true do
        %span.caret.to-right
    %li.list-group-item
      = link_to dummy_path, :remote => :true do
        %span.glyphicons.icon-crop-streamline
        Detail workroom
