%li.left.list-group-item.no-padding{ :style => social_network_color_style }
  = link_to dummy_path, :remote => :true do
    %span.glyphicons.icon-star-4
    Pages
%li.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Page 1
%li.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Page 2
%li.list-group-item.no-padding
  = link_to dummy_path, :remote => :true do
    Page 3
