.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-like-2
      Likes
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.icon-dot.transparent
        Like 1
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Like 2
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Like 3
