.section
  %ul.list-group.title
    %li.list-group-item
      %span.glyphicons.icon-chat-bubble-two
      Chats
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        My administered chats
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.icon-dot.transparent
        Join a chat
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Chat 1
    %li.list-group-item
      %a{ :role => "menuitem", :href => "/ticket_list.cfm" }
        %span.glyphicons.glyphicons-tag
        Chat 2
