%li.nav-header
  %span
    Network
    %span.pull-right{"data-toggle" => "collapse", "data-target" => "#row_network"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        Create new
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} Open Tickets
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} Accounts / Community