%li.nav-header
  %span
    My preferites
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_preferite"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span.glyphicons.glyphicons-tag
        %a{:href => "/account/", :title => "Edit user accounts"} preferred 1
    %li
      %span.glyphicons.glyphicons-tags 
        %a{:href => "/account/", :title => "Edit user accounts"} preferred 2
    %li
      %span.glyphicons.glyphicons-star-half
        %a{:href => "/account/", :title => "Edit user accounts"} preferred 3
