.input-group-search
  .input-group
    %input.form-control{:placeholder => "Search for...", :type => "text"}
      %span.input-group-btn
        %button.btn.btn-default{:type => "button"}
          %i.nothing.im-search

-#.input-group.search
  - search = Search.new 
  = bootstrap_form_for(search, layout: :inline, :remote => :true) do |f|
    .input-group
      = f.text_field :text, :placeholder => "Search for...", :hide_label => :true, append: link_to("Go", "#", class: "btn btn-default")


-#.input-group.search
  .form-inline=form-{ :role => "form", :id => "new_search", :action => "/searches", :data-remote => "true",  :method => "post"} do
    .input-group
      .form-group
        .sr-only.control-label=label :for => "search_text" do
          = "Search Text"
        .input-group
          .form-control=input :placeholder => "Search for...", :type => "text", :name =>"search[text]", :id => "search_text" do
            %span.input-group-btn
              %a.btn.btn-default :href => "#"
                %i.nothing.im-search


-#
  %input.form-control{:placeholder => "Search for...", :type => "text"}
    %span.input-group-btn
      %button.btn.btn-default{:type => "button"}
        %i.nothing.im-search
