- @user ||= current_user
.stats
  %ul.nav.nav-pills{ :role => "tablist" }
    %li{ :role => "presentation" }
      %a{:href => follows_user_path(@user)}
        - followings = @user.follows.count
        = followings == 1 ? 'following' : 'following'.pluralize
        %span.badge
          = followings
    %li{ :role => "presentation" }
      %a{:href => is_followed_by_user_path(@user)}
        - followers = @user.follows.count + 2
        = followers == 1 ? 'follower' : 'follower'.pluralize
        %span.badge
          = followers
      - u = User.follows.query_as(:o).where("o:User { }")
