%li.nav-header
  %span
    My workgroups
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_workgroup"} X
%ul#test.nav.nav-list.collapse.in
  %li
    %span 
      %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} My administrated workgroups
  %li
    %span 
      %a{:href => "/account/", :title => "Edit user accounts"} workgroup 1
  %li
    %span 
      %a{:href => "/account/", :title => "Edit user accounts"} workgroup 2
  %li
    %span 
      %a{:href => "/account/", :title => "Edit user accounts"} workgroup 3
