%li.nav-header
  %span
    My workrooms
    %span.pull-right{"data-toggle" => "collapse", "data-target" => ".row_workroom"} X
  %ul#test.nav.nav-list.collapse.in
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} My administrated workrooms
    %li
      %span 
        %a{:href => "/ticket_list.cfm", :title => "Show list of tickets"} Create a new workroom
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} workroom 1
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} workroom 2
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} workroom 3
    %li
      %span 
        %a{:href => "/account/", :title => "Edit user accounts"} workroom 4
