%h4#app-developer APP DEVELOPER
%p For our office in Rome, we are looking for a technologist with experience developing mobile applications for Apple iOS and Android mobile devices.
%p You will have experience developing applications that heavily rely on background processing, and interact with the back-office using Restful API.
%p Candidates are required:
%ul
  %li
    %p 3 years of mobile development experience, with the following knowledge
    %ul
      %li Objective C,  Java
      %li HTML5, CSS3
      %li JQuery Mobile, AngularJS
      %li JScript
      %li Capybara with Cucumber or RSpec
  %li
    %p Previous experience:
    %ul
      %li usage of dev tools for IOS and Android,
      %li usage of Restful API for back-end and social integration
      %li familiarity with Git
      %li the write of specs for acceptation tests
      %li the usage of tools for Continuous Integration (Jenkins)
      %li At least 1 app deployed in the Apple Store
  %li
    %p A bachelor’s degree in Computer Science.
%p Experience of cross mobile platform development strategies and tools is a plus.
%p Strong communication skills and ability to work well in a collaborative team environment is desired.