%h4#app-developer APP DEVELOPER
%p Per la nostra sede di Roma, siamo alla ricerca di un tecnologo con esperienza nello sviluppo di applicazioni mobili per i dispositivi di iOS e Android.
%p Il/La candidato/a dovrà avere esperienza di sviluppo di applicazioni che si basino pesantemente su elaborazione in background e  di interazione con il back-office attraverso RESTful API.
%p Ai candidati sono richiesti:
%ul
  %li
    %p 3 anni di esperienza di sviluppo per mobile, con le seguenti conoscenze
  %li
    %p Objective C, Java
  %li HTML5, CSS3
  %li JQuery Mobile, AngularJS
  %li JScript
  %li
    %p Capybara with Cucumber or RSpec
  %li
    %p Esperienza in:
  %li
    %p utilizzo di strumenti di sviluppo per IOS e Android,
  %li utilizzo di RESTful API per l'integrazione con il back-end e con i social network
  %li familiarità con Git
  %li capacità di redazione di test di accettazione
  %li
    %p utilizzo di strumenti per la Continuous Integration (Jenkins)
  %li
    %p Sviluppo di almeno un’applicazione pubblicata in Apple Store
  %li
    %p Laurea specialistica in Scienze dell’informazione o Ingegneria Informatica
%p L’esperienza di sviluppo app per mobile trasversale alle piattaforme e la conoscenza di strumenti è un plus.
%p Una forte capacità di comunicazione e di lavorare bene in un ambiente di squadra collaborativo è desiderata.