%h4#app-developer APP DEVELOPER
%p Per la nostra sede di Roma, siamo alla ricerca di un tecnologo con esperienza nello sviluppo di applicazioni mobili per i dispositivi di iOS e Android.
%p Il/La candidato/a dovrà avere esperienza di sviluppo di applicazioni che si basino pesantemente su elaborazione in background e  di interazione con il back-office attraverso RESTful API.
%p Il/La candidato/a ideale avrà anche una forte capacità di comunicazione ed uno spirito collaborativo nel lavoro di squadra.
%p Ai candidati sono richiesti:
%ul
  %li
    %p 3 anni di esperienza di sviluppo per mobile, con le seguenti conoscenze
    %ul
      %li Objective C, Java
      %li HTML5, CSS3
      %li JQuery Mobile, AngularJS
      %li JScript
      %li Capybara with Cucumber or RSpec
  %li
    %p Esperienza in:
    %ul
      %li utilizzo di strumenti di sviluppo per IOS e Android,
      %li utilizzo di RESTful API per l'integrazione con il back-end e con i social network
      %li familiarità con Git
      %li capacità di redazione di test di accettazione
      %li utilizzo di strumenti per la Continuous Integration (Jenkins)
  %li
    %p Sviluppo di almeno un’applicazione pubblicata in Apple Store
  %li
    %p Laurea specialistica in Scienze dell’informazione o Ingegneria Informatica
%p L’esperienza di sviluppo app per mobile trasversale alle piattaforme e la conoscenza di strumenti è un plus.