%h4#rails-angularjs-developer RAILS ANGULAR.JS DEVELOPER
%p For our office in Rome, we are looking for a technologist with experience developing responsive browser independent applications.
%p You will have experience developing applications that heavily rely on background processing, and interact with the backoffice using Restful API.
%p Candidates are required:
%ul
  %li 3 years of mobile development experience is require, with the following knowledge:
    %ul
      %li Rails 4, AngularJS
      %li HTML5, CSS3
      %li JQuery
      %li JScript
      %li Linux Ubuntu platform
  %li
    %p Previous experience:
    %ul
      %li usage of Restful API for back-end and social integration  integration
      %li familiarity with Git
      %li the write of specs for acceptation tests
      %li the write of specs to check the cross browser compatibility
      %li the usage of tools for Continuous Integration (Jenkins)
  %li
    %p Experience of Ruby, Neo4j and Graph DB is a plus.
%p A bachelor’s degree in Computer Science
%p Strong communication skills and ability to work well in a collaborative team environment is desired.