%h4#rails-angularjs-developer RAILS ANGULAR.JS DEVELOPER
%p Per la nostra sede di Roma, siamo alla ricerca di un tecnologo con esperienza nello sviluppo di applicazioni responsive indipendenti dal browser.
%p Il candidato dovrà avere esperienza nello sviluppo di applicazioni che si basano pesantemente su elaborazione in background, e interagire con il back-office usando RESTful API.
%p Ai candidati sono richiesti:
%ul
  %li 
    %p 3 anni di esperienza di sviluppo per mobile, con le seguenti conoscenze
    %ul
      %li Rails 4, AngularJS
      %li HTML5, CSS3
      %li JQuery
      %li JScript
      %li Piattaforma Linux Ubuntu
  %li
    %p Esperienza in:
    %ul
      %li utilizzo di strumenti di sviluppo per IOS e Android,
      %li utilizzo di RESTful API per l'integrazione con il back-end e + con i social network
      %li familiarità con Git
      %li capacità di redazione di test di accettazione
      %li utilizzo di strumenti per la Continuous Integration (Jenkins)
      %li redazione di test automatizzati per verificare la compatibilità cross browser
  %li
    %p Laurea specialistica in Scienze dell’informazione.
%p L'esperienza di Ruby, Neo4j e Graph DB è un plus.
%p Forte capacità di comunicazione e la capacità di lavorare bene in un ambiente di squadra collaborativo è desiderato.