%h4#web-marketing-specialist WEB MARKETING SPECIALIST
%p Per la nostra sede di Roma, siamo alla ricerca di un Web Marketing Specialist per gestire le campagne digitali.
%p Si occuperà di: approvvigionamento della pubblicità, redazione del piano editoriale, gestione dei diversi account, coordinamento delle uscite, monitoraggio delle attività dei competitor e valutazione dei risultati delle campagne di marketing.
%p Ai candidati è richiesta una esperienza di due anni e una forte conoscenza di SEO, SEM, Web Analytics e del mondo dei Social Media.
%p Siamo alla ricerca di persone entusiaste e con buone capacità di problem solving.