%h4#web-marketing-specialist WEB MARKETING SPECIALIST
%p For our office in Rome, we are looking for a Web Marketing Specialist to manage digital campaigns.
%p Daily tasks include: sourcing advertising opportunities, compilation of the publishing plan, managing accounts, coordinating assets delivery, monitoring competitors activity and evaluating marketing campaignes outcomes.
%p Candidates are required two years experience and a strong knowledge of SEO, SEM, Web Analytics and the world of Social Media.
%p We are looking for enthusiastic and driven people with good problem-solving skills.