<h1 class="GSN_form_h1">Editing <span class="GSN_form_h1_class_name"><%= @language.class.name.underscore.humanize %></span></h1>

<div class="GSN_render_form"><%= render 'form' %></div>

<div class="GSN_link_to"><span class="GSN_link_to_show"><%= link_to 'Show', @language %></span> |
<span class="GSN_link_back"><%= link_to 'Back', languages_path %></span></div>


