<h1 class="GSN_form_h1">New <span class="GSN_form_h1_class_name"><%= @language.class.name.underscore.humanize.pluralize %></span></h1>

<div class="GSN_render_form"><%= render 'form' %></div>

<div class="GSN_link_to GSN_link_back"><%= link_to 'Back', languages_path %></div>
