// Place all the styles related to the shares controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_mixins";
@import "foundation_and_overrides";

.article-listing {
  h2 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
    overflow: hidden;
  }
  h4 a {
    display: inline;
  }
  .middle {
    margin-top: 15px;
  }
  border: 1px solid #f2f2f2;
  min-height:50px;
  overflow: auto;
  margin: 10px 0;
  @include border-radius(5px);
  @include linear-top-gradient(#fff, #eee);
  @include box-shadow();
}

input.ng-dirty.ng-valid {
  border: 1px solid green;
}
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}