-# if logged_in?
  %ul#hotgroups.list-group.title.nav-right-sidebar= render partial: 'right_menu', locals: { subset: "hot", title: "Hot groups",  icon: "icon-flame" }
  %ul#hotgroups.list-group.title.nav-right-sidebar= render partial: 'right_menu', locals: { subset: "fresh", title: "Fresh groups",  icon: "icon-clock" }
  %ul#hotgroups.list-group.title.nav-right-sidebar= render partial: 'right_menu', locals: { subset: "mycontacts", title: "My contact's groups", icon: "icon-heart" }