- subject = current_subject
.row.col-xs-40
  = render partial: "shared/logo_social_network" 
  = render partial: "search", locals: { subject: subject, groups: groups } 
  = render partial: "buttons" 

