#subjects-page
  .command-line-container
    .command-line-l
      = link_to subjects_list_path("Subject","x","all"), :remote => :true, :title => "View all subjects" do
        %i.activable.im-all-posts
      = link_to subjects_list_path("Subject","x","ifollowing"), :remote => :true, :title => "View all subjects I follow" do
        %i.activable.im-my-posts
      = link_to subjects_list_path("Subject","x","myfollowers"), :remote => :true, :title => "View all subjects following me" do
        %i.activable.im-bookmark
      = render partial: 'shared/search'
