- if logged_in?
  .page-thumbnail{ :style => super_social_network_style }
    = title
  #grid5.grid-padding.no-padding{ "data-columns" => "" }
    - subjects.each do |subject|
      = render partial: 'subjects/show', locals: { subject: subject }







































