- if logged_in?
  .page-thumbnail{ :style => super_social_network_style }
    = title
  #grid4.grid-padding.no-padding{ "data-columns" => "" }
    - objects.each do |subject|
      = render partial: 'subjects/show_short', locals: { subject: subject }





































