
/* Generate .css  stateents for icons, with hovering and disabled */

$image-path: 'icon/social';

$icons: ('add','caret','chatadd','exit','home','users');

@each $icon in $icons {
  @each $size in 24, 48
  {
    $width: $size;
    @if $icon == 'caret' { $width: $size / 3; }

    div.icon#{$size}.#{$icon}
     {

      background-image: asset-url('#{$image-path}/#{$icon}-nor.png');
      background-size: #{$width}px #{$size}px !important;
      background-repeat: no-repeat;

      @if $icon == 'caret' { vertical-align: top !important; }
      width: #{$width}px !important;
      height: #{$size}px !important;
      border: 0px !important;
      padding: 0px !important;
      margin: 0px !important;

      display: -webkit-inline-box;
      height: 40px !important;

      &:hover {
        background-image: asset-url('#{$image-path}/#{$icon}-hot.png');
        cursor: pointer;
      }

      &.disabled {
        background-image: asset-url('#{$image-path}/#{$icon}-dis.png') !important;
        cursor: default;
      }

    }  
  }
}


