%h1#titolo1 Titolo1
%h2#titolo2 Titolo2
%h3#titolo3 Titolo3
%h4#titolo4 Titolo4
%h5#titolo5 Titolo5
%h6#titolo6 Titolo6
%h1#titolo1_1 Titolo1
%h2#titolo2_1 Titolo2
%p La privacy dei nostri visitatori è estremamente importante per noi.
%ul
  %li Iscrizione a Joinple
  %li a richieste di informazioni sui servizi e sulla piattaforma Joinple;
  %li alla richiesta di partecipazione a concorsi;
  %li
    %p iscrizione al servizio di newsletter.
  %li
    %p Iscrizione a Joinple
  %li Pippo
  %li pippolo
  %li poppolone
%p
  %em legittimi, al loro trattamento.
%p
  %strong Le richieste vanno rivolte via e-mail
%p
  %a{:href => "https://www.google.com/intl/it/policies/privacy"}> https://www.google.com/intl/it/policies/privacy
  ;
%pre
  %code
    :preserve
           Social Network      |Privacy Policy
           :-------------------|:----------------------------------
                 Facebook      |<https://www.facebook.com/privacy/explanation>
                 Twitter       |<https://twitter.com/privacy?lang=it>
                 Linkedin      |<https://www.linkedin.com/legal/cookie-policy?trk=uno-reg-guest-home-cookie-policy>
                 Instagram     |<https://help.instagram.com/155833707900388>
                 Pinterest     |<https://about.pinterest.com/it/terms-service>
                 Google+       |<https://www.google.it/intl/it/policies/privacy/>
                 Youtube       |<https://www.google.it/intl/it/policies/privacy/>
%ul
  %li
    Disabilitare i cookie su
    %a{:href => "https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie"} Firefox
%blockquote
  %p This is the first level of quoting.
  %blockquote
    %p This is nested blockquote.
  %p Back to the first level.
%p
  Footnotes
  %sup#fnref:1
    %a.footnote-ref{:href => "#fn:1", :rel => "footnote"} 1
  have a label
  %sup#fnref:label
    %a.footnote-ref{:href => "#fn:label", :rel => "footnote"} 2
  and a definition
  %sup{:id => "fnref:!DEF"}>
    %a.footnote-ref{:href => "#fn:!DEF", :rel => "footnote"} 3
  \.
.footnote
  %hr/
  %ol
    %li#fn:1
      %p
        This is a footnote 
        %a.footnote-backref{:href => "#fnref:1", :rev => "footnote", :title => "Jump back to footnote 1 in the text"} ↩
    %li#fn:label
      %p
        A footnote on "label" 
        %a.footnote-backref{:href => "#fnref:label", :rev => "footnote", :title => "Jump back to footnote 2 in the text"} ↩
    %li{:id => "fn:!DEF"}
      %p
        The definition of a footnote. 
        %a.footnote-backref{:href => "#fnref:!DEF", :rev => "footnote", :title => "Jump back to footnote 3 in the text"} ↩