- if logged_in?
  .page-thumbnail{ :style => super_social_network_style }
    = "Social networks"
    = link_to new_social_network_path, :remote => :true, :title => "Add a new social network" do
      %i.hoverable.im-plus.to-right
  #grid3.grid-padding.no-padding{ "data-columns" => "" }
    - social_networks.each do |social_network|
      = render partial: 'show', locals: { social_network: social_network }


= javascript_include_tag 'salvattore.min', media: 'all', 'data-turbolinks-track' => true
