.thumbnail
  .container-fluid.nopadding
    .col-xs-2
      .post-header
      .post-title.left
        = social_network.name
    .col-xs-10
      .post-content
        = social_network.description
        %br
        %br
        = social_network.goal
