= bootstrap_form_for(social_network, :remote => :true ) do |f|
  .disabled
    = f.text_field :name, :prepend => :name, :placeholder => "Enter the name of the new social network", :hide_label => :true, :disabled => :disabled
    = f.text_field :description, :prepend => :description, :placeholder => "Enter a short description of the social network", :hide_label => :true, :disabled => :disabled
    = f.text_field :goals, :prepend => :goals, :placeholder => "Describe the goals of the social network", :hide_label => :true, :disabled => :disabled
    -# f.text_field :use_language, :prepend => "Use languages", :placeholder => "Select the languages used by the social network", :hide_label => :true, :disabled => :disabled
