#common-header-left
  - search = PostComment.new
  -#.post-text= f.text_area :content, :hide_label => :true
  -#.spacer
  .buttons.nothing
    .post-icon.nothing
      %a.toggle{ :type => "toggle", "data-target" => "#social-network-form", "data-toggle" => "collapse", :title => "Create new social network"}
        %i.hoverable.im-plus.im-2x
    .post-icon.nothing
      = link_to dummy_path, :remote => :true, :title => "All posts" do
        %i.activable.im-all-posts.im-2x
    .post-icon.nothing
      = link_to dummy_path, :remote => :true, :title => "My posts" do
        %i.activable.im-my-posts.im-2x
    .post-icon.nothing
      = link_to dummy_path, :remote => :true, :title => "Preferites" do
        %i.activable.im-bookmark.im-2x
    = render partial: 'shared/search'
.spacer


