= render partial: "shared/logo_social_network"
= render partial: "shared/common_search", locals: { user: user, social_network: social_network  } 
= render partial: "shared/common_buttons", locals: { user: user, social_network: social_network  } 

