.full-screen-layer-50
.form-layer{ style: "z-index: #{DateTime.now.strftime('%m%d%H%M%S%L')}; min-width: 50%;" }
  - jpl_parms.each do |k|
    - parms[:controller] = k[0].to_s.tableize
    - instances = create_form(k[1], parms)
    - name = parms[:action] == 'show' ? 'show' : 'edit'
    - instances[:form_name] = k[0].to_s.tableize + '/' + name
    - splat(instances, "LIST OF: #{instances[:form_name]}")
    = render partial: instances[:form_name], locals: instances
