.border-1
%button.icon_only.joinple-button-base{ type: 'submit', name: 'commit', hide_label: :true, title: t('button.hint.save') }
  %i.im-check
  = t('button.save')
- if is_admin?
  %button.icon_only.joinple-button-base{ type: 'reset', name: 'reset', hide_label: :true, title: t('button.hint.clear') } 
    %i.im-eraser
    = t('button.clear')  
.spacer
