- jpl_parms.each do |k|
  - instances = create_form(k[1], parms)
  - name = parms[:action] == 'show' ? 'show' : 'edit'
  - instances[:form_name] = k[0].to_s.tableize + '/' + name
  - splat(instances, instances[:form_name])
  = render partial: instances[:form_name], locals: instances
