- if logged_in?
  .col-xs-4012.nothing
    .social-network-logo{ :style => social_network_color_style }
      = image_tag "#{current_social_network_logo?.url(:cover)}", :name => "social_network#{current_social_network_uuid?}", :class => "responsive social-network-logo"
