- if post.errors.count == 0
  %div
    - owner = post.query_as(:p).match("(p)<-[r:owns]-(u:User)").pluck(:u).first
    .post{ :id => post.uuid }
      .header
        .images

          .owner
            = "by #{owner.full_name} - #{post.created_at.strftime('%F at %H:%M')}"
      .content
        = post.content
      .commands
    .spacer