/* $Mixins */

@mixin no-word-break() {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@mixin box-sizing($sizing: border-box) {
    -webkit-box-sizing: $sizing;
       -moz-box-sizing: $sizing;
            box-sizing: $sizing;
}

@mixin box-shadow($shadow: 0 1px 1px rgba(0,0,0,.3)) {
    -webkit-box-shadow: $shadow;
       -moz-box-shadow: $shadow;
            box-shadow: $shadow;
}

@mixin linear-top-gradient($c1: #fff, $c2: #000) {
    background-image: -webkit-linear-gradient(top, $c1, $c2); /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image:    -moz-linear-gradient(top, $c1, $c2); /* FF3.6+ */
    background-image:     -ms-linear-gradient(top, $c1, $c2); /* IE10 */
    background-image:      -o-linear-gradient(top, $c1, $c2); /* Opera 11.10+ */
    background-image:         linear-gradient(to bottom, $c1, $c2);
}

@mixin border-radius($radius: 3px) {
    -webkit-border-radius: $radius; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
            border-radius: $radius; /* Opera 10.5, IE9, Saf5, Chrome, FF4+, iOS 4, Android 2.1+ */
    /* Hiding background color from leaking outside the border */
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

@mixin transform($transform: rotate(360deg)) {
    -webkit-transform: $transform;
            transform: $transform;
}

@mixin opacity($opacity: 1) {
    -webkit-opacity: $opacity;
       -moz-opacity: $opacity;
            opacity: $opacity;
}

@mixin transition($transition: all 0.2s) {
    -webkit-transition: $transition;
       -moz-transition: $transition;
        -ms-transition: $transition;
         -o-transition: $transition;
            transition: $transition;
}

@mixin animation ($delay, $duration, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframe ($animation_name) {
    @-webkit-keyframes $animation_name {
        @content;
    }

    @-moz-keyframes $animation_name {
        @content;
    }

    @-o-keyframes $animation_name {
        @content;
    }

    @keyframes $animation_name {
        @content;
    }
}
@mixin background-size($background-size: cover) {
    -webkit-background-size: $background-size;
       -moz-background-size: $background-size;
         -o-background-size: $background-size;
            background-size: $background-size;
}

@mixin circle($width : 100px, $color : #CC0066) {
  width: $width;
  height: $width;
  background: $color;
  @include border-radius($width);
}

@mixin rgrid($phone-grid:"",$desktop-grid:""){
    @extend .small-#{$phone-grid};
    @extend .large-#{$desktop-grid};
    @extend .columns;
}
