#cloudinary-overlay.with_theme {
  display: block;
  background-color: rgba(51,51,66,0.7);
}

#cloudinary-overlay {
  background-color: rgba(160,35,72,0.7);
}

#cloudinary-widget {
  background: #ffffff;
  -moz-border-radius: 3px
  -webkit-border-radius: 3px   
  border-radius: 3px;
  border: 1px solid rgb(153, 153, 153);
}

#cloudinary-navbar {
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 20px 20px 10px 20px;  
}

#cloudinary-navbar .source {
  border-color: none;
  border-right: 0px;
  border-bottom: 6px solid none;
}

#cloudinary-navbar .source.active {
  background: none;
  border-bottom: 6px solid #a02348;
}

#cloudinary-navbar .source.active .label {
  color: #000;
}

#cloudinary-widget .drag_area {
  background: #f5f5f5;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 30px 20px 0px 20px;
}

#cloudinary-widget .drag_area.in {
  border-color: #01BB16
}

#cloudinary-navbar .sources .icon {
  background-position-x: 0px ;
}

#cloudinary-navbar .close {
  color: rgb(85, 85, 85);
}

#cloudinary-widget .button, #cloudinary-widget .button.small_button {
  background: #a02348;    /* #037FCB; */
}

#cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {
  background: #a02348;
}

#cloudinary-widget .panel {
  height: 437px;
}

#cloudinary-widget .panel.progress .thumbnails .thumbnail .error {
  color: #a02348;     /* #037FCB; */
}

#cloudinary-widget .panel.progress .thumbnails {
  margin-top: 4px;
}  

#cloudinary-widget .panel.camera .form .button_holder {
  margin-top: 10px;
  margin-bottom: 10px;
}

#cloudinary-widget .panel.camera .note {
  font-weight: normal;
  font-size: 13px;
  padding: 4px 20px 4px 20px;
}

#cloudinary-widget .panel.camera .video_holder {
  height: 288px;
}

#cloudinary-widget .panel.camera video {
  zoom: 0.6
  -moz-transform: scale(0.6)
}

#cloudinary-widget .panel.camera video {
  border-width:0px;
}

#cloudinary-widget .camera .form {
  background:#f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0px 20px 0px 20px;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  #cloudinary-widget .drag_area {
    border: none;
    background: none;
  }
}

.widget .panel.local .drag_area .drag_content .label {
    color: #333342; /* #255e83; */
}