@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?3hr3qt');
	src:url('/assets/icomoon.eot?#iefix3hr3qt') format('embedded-opentype'),
		url('/assets/icomoon.woff?3hr3qt') format('woff'),
		url('/assets/icomoon.ttf?3hr3qt') format('truetype'),
		url('/assets/icomoon.svg?3hr3qt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i, .icomoon-liga {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	
	/* Enable Ligatures ================ */
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.im-terms-conditions2:before {
	content: "\e602";
}

.im-logout:before {
	content: "\e600";
}

.im-language:before {
	content: "\e601";
}

.im-followme:before {
	content: "\e604";
}

.im-people-sidebardx:before {
	content: "\e605";
}

.im-trends:before {
	content: "\e606";
}

.im-ads:before {
	content: "\e607";
}

.im-administrator:before {
	content: "\e608";
}

.im-manwoman:before {
	content: "\e609";
}

.im-about:before {
	content: "\e60a";
}

.im-administration:before {
	content: "\e60b";
}

.im-contacts:before {
	content: "\e60c";
}

.im-dot:before {
	content: "\e60d";
}

.im-faq:before {
	content: "\e60e";
}

.im-landing-page:before {
	content: "\e60f";
}

.im-login-landing:before {
	content: "\e611";
}

.im-profile-setting:before {
	content: "\e612";
}

.im-signup-landing:before {
	content: "\e613";
}

.im-social-networks:before {
	content: "\e614";
}

.im-terms-conditions:before {
	content: "\e615";
}

.im-message:before {
	content: "\e622";
}

.im-home:before {
	content: "\e900";
}

.im-newspaper:before {
	content: "\e904";
}

.im-pencil:before {
	content: "\e905";
}

.im-blog:before {
	content: "\e909";
}

.im-image:before {
	content: "\e90d";
}

.im-camera:before {
	content: "\e90f";
}

.im-film:before {
	content: "\e913";
}

.im-video-camera:before {
	content: "\e914";
}

.im-mic:before {
	content: "\e91e";
}

.im-profile:before {
	content: "\e923";
}

.im-file-text2:before {
	content: "\e926";
}

.im-stack:before {
	content: "\e92e";
}

.im-lifebuoy:before {
	content: "\e941";
}

.im-envelop:before {
	content: "\e945";
}

.im-bell:before {
	content: "\e951";
}

.im-calendar:before {
	content: "\e953";
}

.im-user-plus:before {
	content: "\e973";
}

.im-search:before {
	content: "\e986";
}

.im-key2:before {
	content: "\e98e";
}

.im-lock:before {
	content: "\e98f";
}

.im-cog:before {
	content: "\e994";
}

.im-bin:before {
	content: "\e9ac";
}

.im-download2:before {
	content: "\e9c5";
}

.im-attachment:before {
	content: "\e9cd";
}

.im-eye:before {
	content: "\e9ce";
}

.im-bookmark:before {
	content: "\e9d2";
}

.im-happy:before {
	content: "\e9df";
}

.im-plus:before {
	content: "\ea0a";
}

.im-cancel-circle:before {
	content: "\ea0d";
}

.im-enter:before {
	content: "\ea13";
}

.im-shuffle:before {
	content: "\ea30";
}

.im-circle-up:before {
	content: "\ea41";
}

.im-circle-down:before {
	content: "\ea43";
}

.im-new-tab:before {
	content: "\ea7e";
}
