
#page {
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 56px;
}

#banner > img, 
#central-logo > img,
.social-network-item > img {
  max-width: 100% !important;
  display: block;
  height: auto;

}

#banner > img {
  min-height: 400px;
}

.social-network-item > img {
  padding: 0 !important;
}

.no-padding {
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar-header {
  z-index: 1000;
}

.to-right {
  clear: both;
  float: right;
}

.top-banner {
  padding: 0;
}

.top-banner > img {
  position: relative;
  padding-top: 46px;
  height: 600px;
  width: auto; 
}

img.central-logo {
   width: 240px; 
   height: 180px;
}

.central-logo:after {
  clear: both;
}

.intro {
  position: absolute;
  top: 90px;

  text-align: -webkit-center;  
}

.intro-text {
  font-weigth: bolder;
  lcolor: white;
}


.clear {
  clear: both;
  padding-top: 50px;
}

.intro:after {
  clear: both;
}

.signup-btn {
  background-color: transparent;

}

.hoverable {
  z-index: 100;
}

.hoverable:hover {
  z-index: -1;

  -webkit-transform: translate(0px, 100%);
  -moz-transform: translate(0px, 100%);
  -o-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
} 

.view-more {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
}

.social-network.name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.social-network.description {
  font-size: 14px;
  
}

.social-network.connect-btn {
  margin-top: 30%;
}

.landing-page-description textarea{
  height: 140px;
}

/* ****************************     SALVATTORE     ******************************* */

/* These are the classes that are going to be applied: */

#grid {
 margin: 0 auto;
 padding: 0;
 border: 0;
}

@media screen and (max-width: 360px)
{
    #grid[data-columns]::before
    {
        content: '1 .column.size-xs';
    }
}


@media screen and (min-width: 361px) and (max-width: 640px)
{
    #grid[data-columns]::before
    {
        content: '2 .column.size-s';
    }
}
 
@media screen and (min-width: 451px) and (max-width: 800px)
{
    #grid[data-columns]::before
    {
        content: '3 .column.size-m';
    }
}
 
@media screen and (min-width: 800px) and (max-width: 1600px)
{
    #grid[data-columns]::before
    {
        content: '4 .column.size-l';
    }
}
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{
    #grid[data-columns]::before
    {
        content: '5 .column.size-xl';
    }
}
 
@media screen and (min-width: 1921px)
{
    #grid[data-columns]::before
    {
        content: '6 .column.size-xxl';
    }
}

.column   { float: left; }

.size-xs   { width: 100%; }
.size-s    { width: 50%; }
.size-m    { width: 33.333%; }
.size-l    { width: 25%; }
.size-xl   { width: 20%; }
.size-xxl  { width: 16.667%; }

.social-network-item {
}

