
#page {
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 56px;
}

#banner > img, 
#central-logo > img,
.social-network-item > img {
  max-width: 100% !important;
  display: block;
  height: auto;

}

#banner > img {
  min-height: 400px;
}

.social-network-item > img {
  padding: 0 !important;
}

.no-padding {
  border: 0;
  margin: 0;
  padding: 0;
}

.navbar-header {
  z-index: 1000;
}

.to-right {
  clear: both;
  float: right;
}

.top-banner {
  padding: 0;
}

.top-banner > img {
  position: relative;
  padding-top: 46px;
  height: 600px;
  width: auto; 
}

img.central-logo {
   width: 240px; 
   height: 180px;
}

.central-logo:after {
  clear: both;
}

.intro {
  position: absolute;
  top: 90px;

  text-align: -webkit-center;  
}

.intro-text {
  font-weigth: bolder;
  lcolor: white;
}


.clear {
  clear: both;
  padding-top: 50px;
}

.intro:after {
  clear: both;
}

.signup-btn {
  background-color: transparent;

}

.hoverable {
  z-index: 100;
}

.hoverable:hover {
  z-index: -1;

  -webkit-transform: translate(0px, 100%);
  -moz-transform: translate(0px, 100%);
  -o-transform: translate(0px, 100%);
  -ms-transform: translate(0px, 100%);
  transform: translate(0px, 100%);
} 

.view-more {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
}

.social-network.name {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.social-network.description {
  font-size: 14px;
  
}

.social-network.connect-btn {
  margin-top: 30%;
}

.landing-page-description textarea{
  height: 140px;
}

