$standard_padding:4px;


/* ****************************     SALVATTORE     ******************************* */

/*
@media screen and (max-width: 767px)
{    @viewport { width: 800px; orientation: landscape; }   }
 */
/* 
@media screen and (min-width: 768px) and (max-width: 1920px)
{    @viewport { width: 800px; orientation: landscape; }   }
*/ 
/*
@media screen and (min-width: 768px) and (max-width: 1920px)
{    @viewport { width: device-width; orientation: landscape; }   }

@media screen and (min-width: 1921px)
{    @viewport { width: 1920px; orientation: landscape; }   }
*/
.column {
  float: left;
}

.size-1  { width: 100%; }
.size-2  { width: 50%; }
.size-3  { width: 33.333%; }
.size-4  { width: 25%; }
.size-5  { width: 20%; }
.size-6  { width: 16.666%; }



#grid1, #grid2, #grid3, #grid4, #grid5, #grid6, #gridPost, #grid075 {
  border: 0;
  margin: 0 auto;
  padding: 0;

  &.grid-padding {
    & .size-1, & .size-2, & .size-3, & .size-4, & .size-5, & .size-6 {
      padding-left: $standard_padding;
      padding-right: $standard_padding;
    }
  }

  &.grid-padding .size-1:first-child,
  &.grid-padding .size-2:first-child,
  &.grid-padding .size-3:first-child,
  &.grid-padding .size-4:first-child,
  &.grid-padding .size-5:first-child,
  &.grid-padding .size-6:first-child {
    padding-left:0;
    padding-right: $standard_padding;
  }

  &.grid-padding .size-1:last-child,
  &.grid-padding .size-2:last-child,
  &.grid-padding .size-3:last-child,
  &.grid-padding .size-4:last-child,
  &.grid-padding .size-5:last-child,
  &.grid-padding .size-6:last-child  {
    padding-right:0;
    padding-left: $standard_padding;
  }

}


/* ************************************************************************************************** */

/* grid075: Grid with 2 columns on the landing page of the 0.75 version */

@media screen and (min-width: 100px) and (max-width: 719px)
{    #grid075[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 720px) and (max-width: 9999px)
{    #grid075[data-columns]::before    {        content: '2 .column.size-2';     }   }

/* ************************************************************************************************** */

/* gridPost: Grid with 2 columns on the main page but the size is not less then 1167*/

@media screen and (max-width: 360px)
{    #gridPost[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #gridPost[data-columns]::before    {        content: '1 .column.size-1';     }   }
 
@media screen and (min-width: 641px) and (max-width: 1000px)
{    #gridPost[data-columns]::before    {        content: '1 .column.size-1';     }   }

@media screen and (min-width: 1001px) and (max-width: 1574px)
{    #gridPost[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 1575px) and (max-width:1958px)
{    #gridPost[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 1959px)
{    #gridPost[data-columns]::before    {        content: '4 .column.size-4';     }   }

/* ************************************************************************************************** */

/* grid1: Grid with 2 columns on the main page */

@media screen and (max-width: 360px)
{    #grid1[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #grid1[data-columns]::before    {        content: '1 .column.size-1';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #grid1[data-columns]::before    {        content: '1 .column.size-1';     }   }

@media screen and (min-width: 768px) and (max-width: 1280px)
{    #grid1[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 1281px) and (max-width: 1600px)
{    #grid1[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #grid1[data-columns]::before    {        content: '4 .column.size-4';     }   }
 
@media screen and (min-width: 1921px)
{    #grid1[data-columns]::before    {        content: '6 .column.size-2';     }   }

/* ************************************************************************************************** */

/* grid2: Grid with 2 columns on the main page */

@media screen and (max-width: 360px)
{    #grid2[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #grid2[data-columns]::before    {        content: '1 .column.size-1';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #grid2[data-columns]::before    {        content: '1 .column.size-1';     }   }

@media screen and (min-width: 768px) and (max-width: 1280px)
{    #grid2[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 1281px) and (max-width: 1600px)
{    #grid2[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #grid2[data-columns]::before    {        content: '4 .column.size-4';     }   }
 
@media screen and (min-width: 1921px)
{    #grid2[data-columns]::before    {        content: '6 .column.size-6';     }   }


/* ************************************************************************************************** */

/* grid3: Grid with 3 columns on the main page */

@media screen and (max-width: 360px)
{    #grid3[data-columns]::before    {        content: '1 .column.size-1';     }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #grid3[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #grid3[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 768px) and (max-width: 1600px)
{    #grid3[data-columns]::before    {        content: '4 .column.size-4';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #grid3[data-columns]::before    {        content: '5 .column.size-5';     }   }
 
@media screen and (min-width: 1921px)
{    #grid3[data-columns]::before    {        content: '6 .column.size-6';     }   }


/* ************************************************************************************************** */

/* grid4: Grid with 4 columns on the main page */


@media screen and (max-width: 360px)
{    #grid4[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #grid4[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #grid4[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 768px) and (max-width: 1600px)
{    #grid4[data-columns]::before    {        content: '4 .column.size-4';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #grid4[data-columns]::before    {        content: '5 .column.size-5';     }   }
 
@media screen and (min-width: 1921px)
{    #grid4[data-columns]::before    {        content: '6 .column.size-6';     }   }


/* ************************************************************************************************** */

/* grid5: Grid with 5 columns on the main page */

@media screen and (max-width: 360px)
{    #grid5[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #grid5[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #grid5[data-columns]::before    {        content: '3 .column.size-3';     }   }
 
@media screen and (min-width: 768px) and (max-width: 1600px)
{    #grid5[data-columns]::before    {        content: '4 .column.size-4';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #grid5[data-columns]::before    {        content: '5 .column.size-5';     }   }
 
@media screen and (min-width: 1921px)
{    #grid5[data-columns]::before    {        content: '6 .column.size-6';     }   }

/* ************************************************************************************************** */

/* grid-6: A grid with 6 columns [800..1280] width */

@media screen and (max-width: 360px)
{    #gridst6[data-columns]::before    {        content: '1 .column.size-1';    }   }

@media screen and (min-width: 361px) and (max-width: 640px)
{    #gridst6[data-columns]::before    {        content: '2 .column.size-2';     }   }
 
@media screen and (min-width: 641px) and (max-width: 767px)
{    #gridst6[data-columns]::before    {        content: '4 .column.size-3';     }   }
 
@media screen and (min-width: 768px) and (max-width: 1600px)
{    #gridst6[data-columns]::before    {        content: '6 .column.size-4';     }   }
 
@media screen and (min-width: 1601px) and (max-width:1920px)
{    #gridst6[data-columns]::before    {        content: '9 .column.size-5';     }   }
 
@media screen and (min-width: 1921px)
{    #gridst6[data-columns]::before    {        content: '12 .column.size-6';     }   }


/* ************************************************************************************************** */


/*
.padding {
  margin: 0 -2px;
  div.column {
    padding-left: $standard_padding / 2;
    padding-right: $standard_padding / 2;
  }
}

.no-padding {
  margin: 0 auto;
  div.column {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

*/