/* SALVATTORE */



/* These are the classes that are going to be applied: */

#grid {
 spadding: 20px;
 max-width: 1400px;
 margin: 0 auto;
}



@media screen and (min-width: 560px) and (max-width: 799px)
{
    #grid[data-columns]::before
    {
        content: '1 .column.size-1of1.sthumbnail';
    }
}
 
@media screen and (min-width: 800px) and (max-width: 1199px)
{
    #grid[data-columns]::before
    {
        content: '2 .column.size-1of2.sthumbnail';
    }
}
 
@media screen and (min-width: 1200px) and (max-width: 1800px)
{
    #grid[data-columns]::before
    {
        content: '3 .column.size-1of3.sthumbnail';
    }
}
 
@media screen and (min-width: 1800px) and (max-width:2400px)
{
    #grid[data-columns]::before
    {
        content: '4 .column.size-1of4.sthumbnail';
    }
}
 
@media screen and (min-width: 2400px)
{
    #grid[data-columns]::before
    {
        content: '5 .column.size-1of5.sthumbnail';
    }
}

.column { float: left; }


.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }
.size-1of5 { width: 20%; }

/*
.size-1of1 { width: 100; }
.size-1of2 { width: 100; }
.size-1of3 { width: 50%; }
.size-1of4 { width: 33.333%; }
*/

.item {
 background: #FEFEFE;
  border: 2px solid #FAFAFA;
  sbox-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  swidth: 250px;
  margin-bottom: 10px;
}

.xs-3 {
    width: 72px;
}

.xs-9 {
    width: auto;
}

.scolumn {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
