@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: 12px;
}

.input-group-addon {
  padding-bottom: 4px;
}


.checkbox {
  margin: auto;
  top: 4px;
  left: 4px;
}

.to-right {
  clear: both;
  float: right;
}

span.caret.to-right {
  margin-top: 6px;
}

#main_left, #main_center, #main, #main_right {
  padding-top: 10px !important;
}

.myself img.gravatar,
.myself img.avatar {
  margin-right: 0;
  margin-left:0;
  position: relative;
  top: 5px;
  left: 7px;
}

aside {
  background-color: transparent !important;
}

span.transparent,
span.transparent:hover {
  color: transparent !important;
  background-color: transparent !important;
}


ul.list-group > li:not(first-child),
ul.list-group {
  border-left: 0px;
  border-right: 0px;
  border: 0px;
  spadding: 0px 8px;
  padding: 0px inherit;
}
/*

.nav-sidebar > li > a {
  padding-right: 0 !important;
  padding-left: 10px !important;
}

.nav-sidebar > li > a > img.gravatar {
  display: inline-block;
}
*/
.search {
  display: inline;
}

.navbar-brand {
  padding: 4px 15px !important;
}

.icon-composed {
  top: -10px;
  left: -10px;
}

.icon-hover {
  top: 25px;
  left: 25px;
  position: relative;
}

span.centered {
  position: relative;
  left: -15px;

}

.img-header {
  display: block;
  width: 863px;
  max-width: 100%;
  height: auto;
  max-height: 200px; 
  margin-left: auto;
  margin-right: auto;
}

.img-owner {
  max-width: 200%;
  width: 2000%;
  display: block;
  height: auto;
  margin-left: -30px;
  margin-right: auto;
}


.img-owner1 {
  max-width: 100%;
  display: block;
  height: auto;
}

.image-72 {
  border-right: 3px;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: 3px;
  padding-left: 0;
  max-width: 72px;
}

.v-glyps {
  padding-right: 0px;
  padding-left: 10px;
}

.post-header {
  font-weight:  700;
}

.command-button {
  padding-right: 0;
  padding-left: 30px;
}

.fa-stacked {
    left: -10px;
    position: relative;
    top: 8px;
    }

.shared_debug {
  font-size: 70%;
}


.group-header {
  position: relative;
  padding-left: 5px;
  top: -55px;
  margin-bottom: -55px;
  span.group-title {
    font-size: 300%;
  }
  span.group-description {
    font-size: 200%;
    text-align: top;
  }
}


