
$navbar-default-bg: rgba(77,171,170,1);
$navbar-default-bg-a: rgba(77,171,170,0.25);

/* icomoon resize and rotate */

i {
  padding: 0 !important;
  margin: 0  !important;
}

i.header {
  font-size: 1.5em;
  line-height: 0.75em;
  vertical-align: -15%;
}

i.header-dropdown {
  font-size: 1em;
  line-height: 1em;
  vertical-align: -0%;
}

/* makes the font 33% larger relative to the icon container */
.im-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.im-14x {
  font-size: 140%;
}
.im-2x {
  font-size: 200%;
}
.im-3x {
  font-size: 3em;
}
.im-4x {
  font-size: 4em;
}
.im-5x {
  font-size: 5em;
}
.im-fw {
  width: 1.28571429em;
  text-align: center;
}
.im-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.im-ul > li {
  position: relative;
}
.im-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.im-li.im-lg {
  left: -1.85714286em;
}
.im-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa.pull-left {
  margin-right: .3em;
}
.fa.pull-right {
  margin-left: .3em;
}
.im-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.im-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.im-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.im-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.im-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.im-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .im-rotate-90,
:root .im-rotate-180,
:root .im-rotate-270,
:root .im-flip-horizontal,
:root .im-flip-vertical {
  filter: none;
}
.im-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.im-stack-1x,
.im-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.im-stack-1x {
  line-height: inherit;
}
.im-stack-2x {
  font-size: 2em;
}
.im-inverse {
  color: #ffffff;
}

/* #page margin top must be equal to header.height + 10 px */

#page {
  margin-top: 56px;
}

.navbar-brand.logo  {
  padding: 5.5px 0 5.5px 107px ;
}

ul.nav.navbar-nav > li {
  padding: 0 14px;
}

.navbar-header {
  z-index: 1000;
}

/* da rivedere con Davide */

.thumbnail {
  border: 0;
}

.input-group-addon {
  padding-bottom: 4px;
}

.checkbox {
  margin: auto;
  top: 4px;
  left: 4px;
}

.to-right {
  clear: both;
  float: right;
}

span.caret.to-right {
  margin-top: 6px;
}

#main_left, #main_center, #main, #main_right {
  z-index: 0;
}

.myself,
.myself img.gravatar,
.myself img.avatar {
  margin-right: 0;
  margin-left:0;
  position: relative;
  top: 3px;
  left: 4px;
}

aside {
  background-color: transparent !important;
}

span.transparent,
span.transparent:hover {
  color: transparent !important;
  background-color: transparent !important;
}

ul.list-group > li:not(first-child),
ul.list-group {
  border-left: 0px;
  border-right: 0px;
  border: 0px;
  padding: 0px inherit;
}
ul.list-group > li:first-child {
  padding-top:  10px;
  padding-bottom:  10px
}
ul.list-group > li:last-child {
  padding-bottom:  10px
}

.search {
  display: inline;
}

.icon-composed {
  top: -10px;
  left: -10px;
}

.icon-hover {
  top: 25px;
  left: 25px;
  position: relative;
}

span.centered {
  position: relative;
  left: -15px;

}

.img-header {
  display: block;
  width: 863px;
  max-width: 100%;
  height: auto;
  max-height: 200px; 
  margin-left: auto;
  margin-right: auto;
}

.img-owner {
  max-width: 200%;
  width: 2000%;
  display: block;
  height: auto;
  margin-left: -30px;
  margin-right: auto;
}


.img-owner1,
.img-responsive {
  max-width: 100% !important;
  display: block;
  height: auto;
}

.image-72 {
  border-right: 3px;
  padding-right: 0px;
  margin-left: -15px;
  margin-right: 3px;
  padding-left: 0;
  max-width: 72px;
}

.v-glyphs {
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.post-header {
  font-weight:  700;
  font-size: 80%;
}

.post-title {
  font-weight: bold;
  font-size: 120%;

}

.command-button {
  padding-right: 0;
  padding-left: 30px;

}

.im-stacked {
    left: -10px;
    position: relative;
    top: 8px;
    }

.shared_debug {
  font-size: 70%;
}


.group-header {
  .group-title {
    font-size: 300%;
  }
  .group-description {
    font-size: 150%;
    text-align: top;
  }
}

.more {
  font-size: 80%;
}

.group-header.left  {
    bottom: 0;
    position: absolute;
    left: 0;
}

.group-header.right {
    bottom: 0;
    position: absolute;
    right: 0;
}

.noborder {
  border: 0;
  padding: 0;
  margin: 0;
}

.checkbox {
  display: inline-block;
  sleft: -25px; 
}

.checkbox > label  {
  padding-left: 0;
  margin-left: 0;
  top: 0;
  left: 0;
  font-size: 0;
}

.bootstrap-switch {
  min-width: 150px !important;
}

.bootstrap-switch-container > label {
  text-align: center !important;
}

.px5 {
  min-height: 5px;
}

.div200 {
  max-height: 200px;
}

li.header {
  text-align: center;
  font-weight: bold;
  background-color: $navbar-default-bg;
}

li.header ~ li,
li.header ~ li.divider {

  background-color: $navbar-default-bg-a;

}
