@import "bootstrap-sprockets";
@import "bootstrap";

.input-group-addon {
  padding-bottom: 4px;
}

.checkbox {
  margin: auto;
  top: 4px;
  left: 4px;
}

.to-right {
  clear: both;
  float: right;
}

span.caret.to-right {
  margin-top: 6px;
}

.myself img.gravatar,
.myself img.avatar {
  margin-right: 0;
  margin-left:0;
  position: relative;
  top: 7px;
  left: 9px;
}
