SubjectMailer#account_activation

=# @greeting + ", find me in app/views/subject_mailer/account_activation.text.haml"
Hi #{@subject.first_name},

Welcome to the JoinPle Social Network! Click on the link below to activate your account:

\#{edit_account_activation_url(@subject.activation_token, email: @subject.email)}