:javascript
  var bg = document.getElementById("wrapper").getAttribute("bg");
  $("body").css("background-color",bg );
  $("#page").css("background-color",bg );

%aside#main-left.sidebar
  - if logged_in?
    = render partial: 'shared/left_menu'

#main-center
  - if is_admin?
    .shadowing= render partial: 'sessions/tech_info'
  #main-header.col-xs-60
  #main-add.col-xs-60
  #main-content.col-xs-60

%aside#main-right

#full-screen-image

