%aside#main_left.col-xs-10.sidebar
  - if logged_in?
    = render partial: 'shared/left_menu'
#main_center.col-xs-40
  #main_header
  #main_add
  #main_content
%aside#main_right.col-xs-10
  -#main_rheader
  -#main_rcontent
-#if Rails.env.development?
  #debug.container
    .col-xs-10
      = debug(params)
