%title= "JoinPle"
- set_locale if I18n.locale.nil?
%meta{ :property => "og:image", :content => "#{root_url.downcase}/logo_for_facebook.png"}
%meta{ :property => "og:type", :content => "company"}
%meta{ :property => "og:title", :content => "#{t('joinple.slogan')}"}
%meta{ :property => "og:site_name", :content => "#{t('joinple.slogan_2')}"}
%meta{ :property => "og:url", :content => "http://www.joinple.com"}

