%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to "Gsn App", '#', id: "logo"
    %nav
      %ul.nav.navbar-nav.pull-right
        %li= link_to "Home",   root_path
        %li= link_to "Help",   help_path
        %li= link_to "Log in", login_path