!!!
%html
  %head
    %title= "#{Socket.gethostname} - retrieve client geometry"
    :javascript
      document.cookie='width='+screen.width;
      document.cookie='height='+screen.height;
      document.cookie='pixelRatio='+("devicePixelRatio" in window ? devicePixelRatio : "1");
      document.location.replace(document.baseURI);
  %html
