!!!
%html
  %head
    -# = render partial: "layouts/facebook_header"
    -# debugger
    = javascript_include_tag 'application', media: 'all'
    -# , 'data-turbolinks-track' => true
    -# , 'debug' => true
  %html
    %p1 VAFFANCULO A SORETA e FRATE